@model LiberiaDriveMVC.Models.Instructor
@{
    Layout = null;
}

<h5 class="fw-bold text-primary mb-3">➕ Nuevo Instructor</h5>
<hr />

<form id="formCrearInstructor">
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Apellidos</label>
        <input asp-for="Apellidos" class="form-control" required />
    </div>

    <!-- Licencias -->
    <label class="fw-bold">Licencias</label>
    <select class="form-select mb-3" name="licenciasSeleccionadas" multiple required>
        @foreach (var lic in ViewBag.Licencias)
        {
            <option value="@lic.IdLicencia">@lic.TipoLicencia</option>
        }
    </select>

    <div class="form-check mb-3">
        <input type="checkbox" name="Estado" value="true" checked class="form-check-input" />
        <input type="hidden" name="Estado" value="false" />
        <label class="form-check-label">Activo</label>
    </div>

    <div class="text-end">
        <button class="btn btn-success" type="submit">Guardar</button>
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>
