@model LiberiaDriveMVC.Models.Instructor
@{
    Layout = null;
}

<h5>Editar Instructor</h5>
<hr />

<form id="formEditarInstructor" asp-action="Edit" asp-controller="Instructores" method="post">
    <input type="hidden" asp-for="IdInstructor" />

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Apellidos" class="form-label"></label>
        <input asp-for="Apellidos" class="form-control" placeholder="Ingrese los apellidos" />
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
    <input type="checkbox" name="Estado" class="form-check-input" value="true"
           @(Model?.Estado == true ? "checked" : "") />
    <input type="hidden" name="Estado" value="false" />
    <label class="form-check-label">Activo</label>
</div>


    <div class="text-end">
        <button type="submit" class="btn btn-success">Actualizar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
