@{
    Layout = "_PublicLayout";
    ViewData["Title"] = "Inicio - LiberiaDrive";
}


<section class="container py-5">
    <h2 class="fw-bold mb-4">Sobre Nosotros</h2>
    <p><strong>Liberia Drive</strong> es un centro de enseñanza automovilística comprometido con la seguridad vial y la excelencia en la formación de nuevos conductores.</p>

    <h4 class="mt-4">Misión</h4>
    <p>Brindar formación práctica y teórica de calidad, fomentando la conducción responsable y segura.</p>

    <h4 class="mt-4">Visión</h4>
    <p>Ser el centro líder en enseñanza de manejo en Guanacaste, reconocido por la excelencia de nuestros instructores y servicios.</p>
</section>
