@model LiberiaDriveMVC.Models.Cita
@{  Layout = "_AdminLayout";
    ViewData["Title"] = "Editar Cita";
}

<h2 class="fw-bold text-primary mb-4">Editar Cita</h2>

<form asp-action="Edit" method="post" class="card shadow-sm p-4">
    <input type="hidden" asp-for="IdCita" />

    <div class="mb-3">
        <label asp-for="IdCliente" class="form-label"></label>
        <input asp-for="IdCliente" class="form-control" />
        <span asp-validation-for="IdCliente" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoExamen" class="form-label"></label>
        <input asp-for="TipoExamen" class="form-control" />
        <span asp-validation-for="TipoExamen" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="FechaCita" class="form-label"></label>
    <input asp-for="FechaCita"
           class="form-control"
           type="datetime-local"
           step="60"
           value="@Model.FechaCita.ToString("yyyy-MM-ddTHH:mm")" />
    <span asp-validation-for="FechaCita" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Estado" class="form-label"></label>
        <input asp-for="Estado" class="form-control" />
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </div>
</form>
