@model LiberiaDriveMVC.Models.Vehiculo
@{
    Layout = null;
}



<form id="formCrearVehiculo">
    <div class="mb-3">
        <label asp-for="Marca" class="form-label"></label>
        <input asp-for="Marca" class="form-control" placeholder="Ej: Toyota" required />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Modelo" class="form-label"></label>
        <input asp-for="Modelo" class="form-control" placeholder="Ej: Corolla" required />
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Transmisión</label>
        <select asp-for="Transmision" class="form-select" required>
            <option value="">Seleccione...</option>
            <option value="Manual">Manual</option>
            <option value="Automática">Automática</option>
        </select>
        <span asp-validation-for="Transmision" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="Estado" class="form-check-input" type="checkbox" value="true" checked />
        <input type="hidden" name="Estado" value="false" />
        <label class="form-check-label">Activo</label>
    </div>
    <div class="mb-3">
        <label asp-for="Placa" class="form-label"></label>
        <input asp-for="Placa" class="form-control" placeholder="Ej: ABC-123" required />
        <span asp-validation-for="Placa" class="text-danger"></span>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-success px-4">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}